<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
	</appender>
	<appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/misc.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/misc%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="EXT_LIB" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/ext_lib.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/ext_lib%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="NODE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/node_trace.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/node_trace%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<root level="WARN">
		<appender-ref ref="EXT_LIB"/>
	</root>

	<logger name="block" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="blockchain" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="execute" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="db" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="repository" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="VM" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="dump" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="mana" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="wallet" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>

	<logger name="general" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>

	<logger name="org.lipicalabs" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>

</configuration>
