<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
	</appender>
	<appender name="EXT_LIB" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/ext_lib.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/ext_lib%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="NODE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/node_trace.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/node_trace%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="BLOCKCHAIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/blockchain.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/blockchain%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="VM_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/vm.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/vm%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="NET_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/net.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/net%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="DATASTORE_TRACE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/datastore.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/datastore%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="BLOCKS_RECORD" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/blocks_rec.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%msg %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>21</maxIndex>
			<FileNamePattern>./work/logs/blocks_rec%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>150MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<appender name="ERRORS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>./work/logs/errors.log</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %msg [%thread] %file:%line %n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>10</maxIndex>
			<FileNamePattern>./work/logs/errors%i.log</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>10MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<root level="WARN">
		<appender-ref ref="EXT_LIB"/>
	</root>
	<logger name="blockchain" level="DEBUG" additivity="false">
		<appender-ref ref="BLOCKCHAIN"/>
	</logger>
	<logger name="blocks_record" level="INFO" additivity="false">
		<appender-ref ref="BLOCKS_RECORD"/>
	</logger>
	<logger name="database" level="DEBUG" additivity="false">
		<appender-ref ref="DATASTORE_TRACE"/>
	</logger>
	<logger name="discovery" level="INFO" additivity="false">
		<appender-ref ref="NET_TRACE"/>
	</logger>
	<logger name="dump" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="execute" level="DEBUG" additivity="false">
		<appender-ref ref="BLOCKCHAIN"/>
	</logger>
	<logger name="mana" level="INFO" additivity="false">
		<appender-ref ref="VM_TRACE"/>
	</logger>
	<logger name="mining" level="INFO" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="net" level="INFO" additivity="false">
		<appender-ref ref="NET_TRACE"/>
	</logger>
	<logger name="sync" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="trie" level="INFO" additivity="false">
		<appender-ref ref="DATASTORE_TRACE"/>
	</logger>
	<logger name="wallet" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>
	<logger name="wire" level="INFO" additivity="false">
		<appender-ref ref="NET_TRACE"/>
	</logger>
	<logger name="vm" level="INFO" additivity="false">
		<appender-ref ref="VM_TRACE"/>
	</logger>

	<logger name="errors" level="INFO" additivity="false">
		<appender-ref ref="ERRORS"/>
	</logger>

	<logger name="general" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>

	<logger name="org.lipicalabs" level="DEBUG" additivity="false">
		<appender-ref ref="NODE_TRACE"/>
	</logger>

</configuration>
